<div id="mySidebar" class="sidebar">
  <a href="#">About</a>
  <a href="#">Category</a>
  <a href="#">Sources</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <div class="header">
    <button class="openbtn" (click)="openNav()">☰</button>
    <img class="logo" src="assets/logo.png">
  </div>

  <mat-divider></mat-divider>
  <div class="newscategory">
    <div class="scrollmenu">
      <button>State</button>
      <button>Country</button>
      <button>Cricket</button>
      <button>Education</button>
      <button>Elections</button>
      <button>Cricket</button>
      <button>Education</button>
      <button>Elections</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <app-news-section></app-news-section> 

</div> 
<!-- <app-experiment></app-experiment> -->